* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background: rgb(42,87,144);
}

nav a:hover {
  color: black;
}

.active-page {
  color: black;
}

.container {
   background: white;
   margin:  50px 150px;
   padding: 50px;
}

nav {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  padding: 0 100px;
}

nav a {
  text-decoration: none;
  color: grey;
}

.imagine {
  margin: 25px 0;
}

.fast-track {
  font-style: italic;
  margin-bottom: 25px;
}

.does-this-describe-you {
  font-style: italic;
  text-align: center;
}

h3 {
  color: grey;
  font-size: 20px;
}

.sounds-familiar {
  text-align: center;
}

.coach-you {
  font-style: italic;
  margin: 25px;
}

.week-consists {
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
}

li {
  font-size: 24px;
  margin: 15px 0;
  color: grey;
}

.italic {
  font-style: italic;
}

.in-short {
  font-style: italic;
  margin: 25px;
}

.taught-in-costa-rica {
  font-weight: normal;
  color: grey;
}

.costa-rica {
  font-weight: bold;
  color: black;
}

.hotel-link {
  text-decoration: none;
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.faq-question {
  text-decoration: underline;
}

.act-up {
  font-weight: bold;
  font-style: italic;
  color: black;
}

.black {
  color: black;
  font-weight: bold;
}

.faq-answer {
  color: grey;
  font-size: 24px;
}

.master-forums {
  color: black;
}

.register-link {
  text-decoration: none;
}

.gather {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  text-align: center;
  padding: 30px;
}

input {
  font-size: 30px;
  color: black;
  text-align: center;
  margin: 10px 0;
}

button[type=submit] {
  background: white;
  padding: 15px 15px;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

button[type=submit]:hover {
  background: black;
  color: white;
}

.register-button {
  text-align: center;
}

.register-now-button {
  background: black;
  padding: 15px 15px;
  border: 3px solid black;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  margin: 25px 0;
}

.register-now-button:hover {
  background: grey;
}

.register-now-anchor {
  text-decoration: none;
  color: white;
}

h5 {
  font-weight: normal;
  color: grey;
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.david-hira-profile, .mike-arthur-profile {
  width: 45%;
}

.profile-picture {
  width: 400px;
  height: 450px;
}

p {
  color: darkslategrey;
  font-size: 20px;
}

.profile-insert {
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 750px) {
  .container {
    margin: 0;
  }

  nav {
    display: none;
  }
}
